@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li,a {
  list-style-type: none;
  text-decoration: none;
}

.font {
  font-family: Dancing Script;
}